<div class="all">

      <h3 style="margin-left: 200px; margin-top: px;color: rgb(25, 102, 116);">Login Form</h3>
      <div class="nm">
        <div class="col-10">UserName:</div>
        <div class="col-20">
          <input type="email" id="email" name="email" formControlName="email" />
        </div>
      </div>
      <div class="nm">
        <div class="col-10">Password:</div>
        <div class="col-20">
          <input type="password" id="pass" name="pass" formControlName="pass" required minlength="8" maxlength="10" />
        </div>
      </div>
      <div style="margin-top: 50px;">
        <input type="button" value="Cancel"
        style="margin-left: 250px; height: 42px; width: 70px; border:0; background-color: rgb(246, 9, 9); color: white;"/>
  
          style="margin-left: 50px; background-color: rgb(59, 250, 59); color: white;" />
      </div>
  </div>