<div class="all">
    <div class="button-container">
    <button routerLink="/second-component" routerLinkActive="active" ariaCurrentWhenActive="page">Registration
        Form</button>

    <button routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page">About</button>
    
    <button routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">Local Storage</button>

    <button routerLink="/report" routerLinkActive="active" ariaCurrentWhenActive="page">CURD Min Project</button>

</div>

</div>